{% extends "base.html" %}

{% block content %}
<div class='row'>
	<div class='col-sm-6 col-sm-offset-3'>
		<h2 class="text-align-center"><strong>CONOCE QUIÉNES SOMOS</strong></h2><hr/>
		<p class="lead text-align-center">Mision</p>
		<p align="justify">La Universidad Mariana es una institución de educación superior, católica y privada. Forma profesionales humana y académicamente competentes, con espíritu crítico, sentido ético y compromiso social. Mediante la interacción con el entorno y el diálogo entre fe, ciencia y cultura contribuye a la transformación sociocultural y al desarrollo con justicia social y respeto por el ambiente, desde el Evangelio de Jesucristo y la espiritualidad mariana y franciscana.</p>



		<!--<p class="text-align-center">Blah blah blah blah blah blah blah</p>
		<p class="text-align-center">Blah blah blah blah blah blah blah</p>
		<p class="text-align-center">Blah blah blah blah blah blah blah</p>
		<p class="text-align-center">Blah blah blah blah blah blah blah</p>
		<p class="text-align-center">Blah blah blah blah blah blah blah</p>
		<p class="text-align-center">Blah blah blah blah blah blah blah</p>-->
	</div>

	<div class='col-sm-6 col-sm-offset-3'><hr/>
		<p class="lead text-align-center">Vision</p>
		<p align="justify">La Universidad Mariana es una institución de educación superior, católica y privada. Forma profesionales humana y académicamente competentes, con espíritu crítico, sentido ético y compromiso social. Mediante la interacción con el entorno y el diálogo entre fe, ciencia y cultura contribuye a la transformación sociocultural y al desarrollo con justicia social y respeto por el ambiente, desde el Evangelio de Jesucristo y la espiritualidad mariana y franciscana.</p>
	</div>
	<div class='col-sm-6 col-sm-offset-3'><hr/>
		<p class="lead text-align-center">ESCUDO</p>
		<div  align="center">
			<img src="https://userscontent2.emaze.com/images/e80f27e7-8382-447c-af2f-bfe8f49c1d17/6580a97c29fe964f2892c0c94374d761.jpg" width="400" height="400" width="400" height="300">
		</div>
		
		</div>
</div>

{% endblock %}